@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    color: #3E3E3E;
    margin : 0;
    padding : 0;
}

body {
    background-color: #FFF9F4;
}

.bg-header {
    background-color: #FFFBF0;
    max-height: 100%;
}

.font-orange {
    color: #FA804C;
    font-size: 5rem;
    text-transform: uppercase;
}

.font-navy {
    color: #3f4162;
    font-size: 5rem;
    text-transform: uppercase;
}

.bg-btn {
    color: #fff;
    background-color: rgb(32, 29, 221);
    border-radius: 1rem;
}

main .money-color {
    color: #FA804C;
}

.bg-section {
    color: #3f4162;
}

.card .card-text {
    padding-top: .8rem;
    font-size: .9rem;
}

/* about us */

main .about a {
    text-decoration: none;
    color: #3E3E3E;
} 

main .about h5 a {
    color: #3f4162;
}

@media only screen and (max-width: 768px){
  
    .banner-text h1 span {
        font-size: 4rem;
    }
}

@media only screen and (min-width: 551px) and (max-width: 991px){
    .f-card {
        width: 427px;
    }
}